<% include header %>

<div class="container">
  <h1>CmaChanX</h1>
  <img src="/log.png" />
  <p class="lead">
    Nous sommes ouverts 7 jours sur 7!
  </p>
  <p>
    Cliquez <a href="https://www.cmachanx.com/">CmaChanX</a>pour accéder à notre site web
  </p>>
</div>

<% include footer %>
